
@model EFcoreDemo.CQRS.Blogs.Command.Create.CreateBlogCommand
@using EFcoreDemo.Models.ConfigOptions
@inject Microsoft.Extensions.Options.IOptions<ConfigOptions> Pos


<h2>Position (in view)</h2>
<p>Title: @Pos.Value.Title</p>
<p>Name:  @Pos.Value.Name</p>
<h2>Create Blog</h2>

<form asp-action="Create">
    <div class="form-group">
        <label>URL</label>
        <input asp-for="Url" class="form-control" />
        <span asp-validation-for="Url" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
