@model EFcoreDemo.Models.Blog

<h2>Blog Details</h2>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">URL: @Model.Url</h4>

        <h5>Posts:</h5>
        <ul>
            @if (Model.Posts != null && Model.Posts.Any())
            {
                @foreach (var post in Model.Posts)
                {
                    <li>@post.Title</li>
                }
            }
            else
            {
                <li><em>No posts available.</em></li>
            }
        </ul>

        <a asp-action="Index" class="btn btn-secondary mt-2">Back to List</a>
    </div>
</div>
