@model EFcoreDemo.Models.Domain.Department
@{
    ViewData["Title"] = "Delete Department";
}

<h2>@ViewData["Title"]</h2>
<a asp-action="Index" class="btn btn-secondary mb-3">Back to Department List</a>
<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="DeptId" />

    <div>
        <p>Are you sure you want to delete this department?</p>
        <p><strong>Department Name:</strong> @Model.DeptName</p>
    </div>

    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>